<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gallery"
    android:installLocation="auto">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gallery">
        <activity
            android:name=".ui.ViewPagerActivity"
            android:exported="true" >
            <!--
        according to
             https://developer.android.com/reference/android/content/Intent#ACTION_VIEW
             https://developer.android.com/reference/android/provider/MediaStore#ACTION_REVIEW
             https://developer.android.com/reference/android/provider/MediaStore#ACTION_REVIEW_SECURE
             https://developer.android.com/about/versions/12/reference/common-intents-31
        -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.android.camera.action.REVIEW" />
                <action android:name="android.provider.action.REVIEW" />
                <action android:name="android.provider.action.REVIEW_SECURE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.APP_GALLERY" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ui.SearchableActivity" />

        <activity
            android:name=".ui.SearchableActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Gallery">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_GALLERY" />
            </intent-filter>

            <!--
            Lets the user select an item from the gallery and returns it
            https://developer.android.com/reference/android/content/Intent#ACTION_GET_CONTENT
            https://developer.android.com/guide/topics/providers/content-provider-basics#MIMETypeReference
            -->
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
                <data android:mimeType="vnd.android.cursor.dir/video" />
            </intent-filter>

            <!--
            Lets the user pick an item from supplied data and returns it
            https://developer.android.com/reference/android/content/Intent#ACTION_PICK
            -->
            <intent-filter>

                <!--
                 App does not support the PICK intent, this intent-filter is added for
                 backward compatibility. Handle it as GET_CONTENT.
                -->
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_GALLERY" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
                <data android:mimeType="vnd.android.cursor.dir/video" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.VideoPlayerActivity"
            android:exported="true">

            <!--
            Displays a video to the user specified in intent.data
            https://developer.android.com/reference/android/content/Intent#ACTION_VIEW
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_GALLERY" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/*" />
                <data android:mimeType="vnd.android.cursor.dir/video" />
                <data android:mimeType="video/mpeg4" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
                <data android:mimeType="video/webm" />
                <data android:mimeType="video/avi" />
            </intent-filter>
        </activity>

        <provider
            android:name=".MySuggestionProvider"
            android:authorities="com.example.gallery.MySuggestionProvider"
            android:exported="false" />
    </application>

</manifest>